<div class="hero-unit">                                                                                                             
  <h2>Choix de la cohorte</h2>                                                                                                                  
  <p>{{sometext}}</p>                                                                                                               
</div>